# Node
node_modules/
deploy/frontend/node_modules/
deploy/backend/node_modules/
npm-debug.log*
yarn-error.log*

dist/
.vite/
git
# Environment variables (anywhere)
.env
.env.*
**/.env
**/.env.*

.pdf
.pdf.*
**/.pdf
**/.pdf.*

.mp3
.mp3*
**/.mp3
**/.mp3.*
