.button {
  @apply inline-flex items-center gap-1 px-4 py-2 border border-slate-800 text-slate-800 bg-transparent rounded hover:bg-slate-800 hover:text-white cursor-pointer transition-colors duration-200;
}

.button-solid {
  @apply inline-flex items-center gap-1 px-4 py-2 bg-slate-800 text-white rounded hover:bg-slate-700 cursor-pointer transition-colors duration-200;
}

#delete {
  color: white;
  border: white;
  background-color: var(--color-error);
}

#delete:hover {
  color: white;
  background-color: var(--color-error-hover);
}

#edit {
  color: white;
  border: white;
  background-color: var(--color-edit);
}

#edit:hover {
  color: white;
  background-color: var(--color-edit-hover);
}

#upload {
  color: white;
  border: white;
  background-color: var(--color-upload);
	margin-bottom: 1rem;
}

#upload:hover {
  color: white;
  background-color: var(--color-upload-hover);
}