@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"] {
	background-color: white;
	border: 1px solid #d1d5db;
	border-radius: 0.375rem;
	padding: 0.5rem 1rem; 
	font-size: 1rem;
	width: 22%;
}
